:root {
  --transition: all 300ms linear;
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(
    90deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  /* Light Theme */

  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --Light-grayish-blue: hsl(233, 11%, 84%);
  --Dark-grayish-blue: hsl(236, 9%, 61%);
  --very-Dark-Grayish-blue: hsl(235, 19%, 35%);

  /*  Dark Theme */

  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%); /*hover*/
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-hover: hsl(237, 14%, 26%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  cursor: pointer;
}
/* light Theme */
.main.light {
  /* background-color: rebeccapurple; */
  --very-dark-desaturated-blue: var(--very-light-gray);
  /*  */
  background-color: var(--very-light-grayish-blue);
  --very-Dark-Grayish-blue: var(--very-light-grayish-blue);
  --light-grayish-blue: var(--Dark-grayish-blue);
  --Light-grayish-blue: var(--Dark-grayish-blue);
}
.main.light .single__todo .todo__msg {
  color: var(--Dark-grayish-blue);
}
.main.light .single__todo .completed__todo {
  color: var(--Light-grayish-blue);
}
/* .main.light  */
/* End of ligth theme */
.main {
  height: 100vh;
  background-color: var(--very-dark-blue);
  position: relative;
  max-height: auto;
  transition: var(--transition);
}
.banner__wrapper {
  background-image: url("/public/images/bg-mobile-dark.jpg");
  /* background-position: contain; */
  background-size: 100% 100%;
  /* object-fit: contain; */
  background-repeat: no-repeat;
  height: 30vh;
}

.todo__component {
  min-height: 100vh;
  max-height: auto;
  width: min(90%, 900px);
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header .logo {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
}
#form__input {
  width: 100%;
  border-radius: 0.35rem;
  overflow: hidden;
  margin-bottom: 3rem;
}
#form__input .form__controller {
  position: relative;
  /* padding: 0.5rem 1.5rem; */
  display: flex;
}
#form__input #input__field {
  padding: 01rem 1rem 01rem 4.5rem;
  width: 100%;
  border-radius: inherit;
  background-color: var(--very-dark-desaturated-blue);
  margin-left: auto;
  outline: none;
  border: none;
  color: var(--light-grayish-blue);
  font-size: 1.8rem;
}

.circle {
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid var(--Dark-grayish-blue);
  border-radius: 50%;
  top: 50%;
  left: 2.5rem;
  transform: translate(-50%, -50%);

  /* left: 1%; */
  position: absolute;
}
.box__wrapper {
  position: relative;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  z-index: 10;
  /* border: 2px solid var(--Dark-grayish-blue); */
}

#completed_wrapper {
  background-color: var(--check-background);
}
.check__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.25rem;
  z-index: 20;
  display: none;
  border: none;
}
/* .check__img.incomplete_img {
  display: none;
} */
.check__img.completed__img {
  display: block;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid var(--Dark-grayish-blue);
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  background: transparent;
}
input[type="checkbox"]:checked {
  background: var(--check-background);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  z-index: 100;
  /* border: 2px solid var(--Dark-grayish-blue); */
}
/* input[type="checkbox"]:checked,
.check__img {
  display: block;
} */
input[type="checkbox"]:not(:checked) {
  background: transparent;
}
.single__todo {
  display: flex;
  background: white;
  align-items: center;
  padding: 1rem;
  border-radius: 0.35rem;
  transition: var(--transition);

  background-color: var(--very-dark-desaturated-blue);
}
ul li {
  border-bottom: 1px solid var(--very-Dark-Grayish-blue);
}
/* del */
del {
  color: var(--light-grayish-blue-hover);
}
.single__todo .todo__msg {
  flex: 1;
  padding-left: 1.5rem;
  font-size: clamp(1.2rem, 1vw + 1rem, 1.7rem);
  color: var(--Light-grayish-blue);
  overflow: scroll;
  word-wrap: break-word;
}
.single__todo .completed__todo {
  text-decoration: line-through;
  text-decoration-color: var(--Light-grayish-blue);
  color: var(--Dark-grayish-blue);
  padding-left: 1.5rem;
  font-size: clamp(1.2rem, 1vw + 1rem, 1.7rem);
  flex: 1;
}
.todos {
  height: max-content;
  max-height: 50vh;
  overflow: scroll;
  border-radius: 0.35rem;
}

/* todos count number of todos and clear completed */
.todos__count {
  display: flex;
  background-color: var(--very-dark-desaturated-blue);
  justify-content: space-between;
  padding: 1.5rem;
  font-size: clamp(1.2rem, 1vw + 1rem, 1.7rem);
  color: var(--Light-grayish-blue);
  border-radius: 0.4rem;
  border-top: 1px solid var(--very-Dark-Grayish-blue);
}
.todos__count .clear__completed {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--Light-grayish-blue);
}
/*  filters component */
.filters {
  /* position: fixed; */
  /* bottom: 2rem; */
  margin-top: 2rem;
  background-color: var(--very-dark-desaturated-blue);
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0.4rem;
  padding: 1rem;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.filters button {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--Light-grayish-blue);
  font-weight: 500;
  background: transparent;
  outline: none;
  border: none;
}

.filters button:focus {
  color: var(--bright-blue);
}
